:root {
  --primary: #00bcd4;
  --secondary: #d81b60;
  --greyLight: #fafafa;
  --greyDark: #212121;

  /* Loading animation */
  --orchid: #f92672;
  --br-blue: #66d9ef;
  --henn1nk: #a6e22e;
  --spice: #fd971f;
  --classColour: #ffe792;
  --parColour: #f8f8f2;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* TODO: add root colors */
body {
  font-weight: 100;
  box-sizing: border-box;
  color: var(--greyDark);
}

/* Layout styles */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

nav,
header ~ main,
header ~ footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  nav,
  header ~ main,
  header ~ footer {
    padding-left: 0;
  }
}

/* Materialize.css overrides */
input[type='range']:not(.browser-default).invalid ~ .helper-text:after {
  content: attr(data-error);
  color: #f44336;
}
