:root {
  --primary: #00bcd4;
  --secondary: #d81b60;
  --greyLight: #fafafa;
  --greyDark: #212121;

  /* Loading animation */
  --orchid: #f92672;
  --br-blue: #66d9ef;
  --henn1nk: #a6e22e;
  --spice: #fd971f;
  --classColour: #ffe792;
  --parColour: #f8f8f2;
}
